$container-side-padding: $spacing-unit / 2;

.container {
    padding: 0 $container-side-padding 0 $container-side-padding;
    display: block;
    margin: 0 auto;

    &--section {
        border-bottom: 1px dotted $gray-color;
    }

    &--SMALL {
        max-width: $small-screen;
    }

    &--MEDIUM {
        max-width: $medium-screen;
    }
}
