
// Base variables
$base-font-family: 'Assistant', sans-serif;
$base-font-size:   1em;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.65;

//colors
$text-color: #222A3B;
$background-color: #F5F5F6;
$warm-color: #F97A66;
$dark-color: #5F6C90;
$cool-color: #02C3E2;
$gray-color: #aeaeae;

// Spacing
$spacing-unit: 2em;

// Width of the content area
$extra-extra-large-screen: 90em;
$extra-large-screen: 68em;
$large-screen: 50em;
$medium-screen: 48em;
$small-screen: 30em;

// Globals
$base-border-radius: 5px;
