.icon {
    height: $spacing-unit;
    width: $spacing-unit;
    vertical-align: middle;
    padding-right: $spacing-unit / 4;

    &--MEDIUM {
        height: $spacing-unit * 2;
        width: $spacing-unit * 2;
        vertical-align: middle;
    }

    &--LARGE {
        height: $spacing-unit * 3;
        width: $spacing-unit * 3;
        vertical-align: middle;
    }
}
