.bg {
    &--dark {
        background-color: $text-color;
    }

    &--alt {
        background-color: lighten($gray-color, 20%);
    }
}

.text {
    &--WHITE {
        color: $background-color;
    }

    &--WARM {
        color: $warm-color;
    }

    &--COOL {
        color: $cool-color;
    }

    &--DARK {
        color: $dark-color;
    }

    &--GRAY {
        color: $gray-color;
    }

    &--META {
        font-size: $small-font-size;
        color: darken($gray-color, 10%);
    }

    &--SMALL {
        font-size: $small-font-size;
    }

    &--RIGHT {
        text-align: right;
    }

}
