---
layout: default
---
<div class="band band--MEDIUM">
    <div class="container container--MEDIUM">
        <div class="aside">
            <div class="aside--column">
                <img class="icon icon--LARGE" src="/src/assets/img/icons/{{page.icon}}" alt="">
            </div>
            <div class="aside--body">
                <h1>{{page.title}}</h1>
                <h4>{{page.tagline}}</h4>
                <p>{{page.description}}</p>
            </div>
        </div>
    </div>
</div>
